//black colors::after
$blackColor:#333333;
$border:1px solid;
$bcolor:#000000;
$rcolor:#FF0000;
$tealColor:#00828a;

//Margin declaration
$margin:0 auto;
$margintop:4em;

//Width Declartion
$wd:100%;
$wd50:50%;
$wd80:88%;

//Cursor pointer
$cursor:pointer;

//Font-Families declaration.
$fontfamily:'Markpro';
$fontfamilyBold:'Markpro-bold';
$fontfamilyHeavy:'MarkPro-Heavy';

//Font sizes Declaration.
$fontSize:2em;
$fontSize14:14px;
$fontstyle:normal;
$fontsize4:4em;

//Font weight Declration.
$fontweight:800;
$fontweight400:400;

//Text-align.
$textalign:center;





